@model IEnumerable<ExcellentTaste.Models.ConsumptieGroep>

@{
    ViewBag.Title = "Index";
}

<h2>Overzicht consumptie subgroepen</h2>

<p>
    @Html.ActionLink("Toevoegen", "Create", "ConsumptieGroep", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.consumptieGroepNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consumptie.consumptieNaam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.consumptieGroepNaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consumptie.consumptieNaam)
        </td>
        <td>
            @Html.ActionLink("Wijzig", "Edit", new { id=item.consumptieGroepCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.consumptieGroepCode }) |
            @Html.ActionLink("Verwijder", "Delete", new { id=item.consumptieGroepCode })
        </td>
    </tr>
}

</table>
