@model IEnumerable<ExcellentTaste.Models.Bestelling>


<h2>Bon</h2>
<table class="table">
    <tr>
        <th>
            Tijd: @DateTime.Now.ToString() Tafel: @Model.First().Reservering.tafel<br />
            ReserveringID: @Model.First().reserveringId
        </th>
    </tr>
</table>
@{ decimal totalPrice = 0; }
<table width="500">
    <tr>
        <th>Aantal</th>
        <th>Product</th>
        <th>Prijs</th>
    </tr>
@foreach (var item in Model)
{
    decimal price = item.aantal * item.prijs; // Calculate the price
    totalPrice += price;
    <tr>
        <td>@Html.DisplayFor(modelItem => item.aantal)</td>
        <td>@Html.DisplayFor(modelItem => item.ConsumptieItem.consumptieItemNaam)</td>
        <td>€ @Math.Round(price, 2)</td>
    </tr>
}

    @{ decimal vat = (totalPrice / 109) * 9;}
    <tr style="border-top-style:solid">
        <td colspan="2">Totaal: </td>
        <td>€ @Math.Round(totalPrice,2)</td>
    </tr>
    <tr>
        <td colspan="2">BTW 9% </td>
        <td> € @Math.Round(vat,2) </td>
    </tr>
</table>
    <br /><br />
<p>
    <a href="javascript:window.print()">Afdrukken</a>
</p>

