@model ExcellentTaste.Models.VMReservering

@{
    ViewBag.Title = "Toevoegen";
}

<h2>Toevoegen</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Reservering</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.klantId, "klantId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @if (Model.klantId > 0)
                {
                    <div>@Html.DropDownList("klantId", new SelectList(Model.klantenLijst, "klantId", "klantNaam"), htmlAttributes: new { @class = "form-control", @disabled = "disabled" })</div>

                }
                else
                {
                    <div>
                        @Html.DropDownList("klantId", new SelectList(Model.klantenLijst, "klantId", "klantNaam"), htmlAttributes: new { @class = "form-control" }) 
                    </div >
                }
                @Html.ValidationMessageFor(model => model.klantId, "", new { @class = "text-danger" })
            </div>
            <div id="divDisplay" class="col-md-6">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tijd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tijd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tijd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tafel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tafel, new { htmlAttributes = new { @class = "form-control", @min = "0",  } })
                @Html.ValidationMessageFor(model => model.tafel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aantalPersonen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aantalPersonen, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                @Html.ValidationMessageFor(model => model.aantalPersonen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Toevoegen" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Terug naar overzicht", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#klantId").change(function () {
            var klantid = $("#klantId").val();
            $.ajax({
                data: "18",
                datatype: "text/plain",
                type: "POST",
                url: '/Reservering/GetCustomer?klantId=' + klantid,
                cache: false,
                success: function (data) {
                    $('#divDisplay').html(data);
                }
            });
        });
    </script>

}
