@model ExcellentTaste.Models.Klant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Klant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.klantNaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.klantNaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefoon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefoon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzig", "Edit", new { id = Model.klantId }) |
    @Html.ActionLink("Terug naar overzicht", "Index")
</p>
