@model IEnumerable<ExcellentTaste.Models.Klant>

@{
    ViewBag.Title = "Index";
}

<h2>Overzicht klanten</h2>
<div>
    <form>
        <div class="form-group">
            <input type="text" id="filter" class="form-control" placeholder="Search" name="filter">
        </div>
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
        </button>
        <br />
    </form>
</div>

<hr/>

<p>
    @Html.ActionLink("Toevoegen", "Create", "Klant", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.klantNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefoon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actief)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.klantNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefoon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actief)
            </td>
            <td>
                @Html.ActionLink("Wijzig", "Edit", new { id = item.klantId }) |
                @Html.ActionLink("Details", "Details", new { id = item.klantId }) |
                @Html.ActionLink("Verwijder", "Delete", new { id = item.klantId })
            </td>
            <td>
                @if (item.Reservering.Count > 0)
                {
                    @Html.ActionLink("Reserveringen", "Index", "Reservering", new { klantId = item.klantId }, null);
                }
                @Html.ActionLink("Reserveer", "Create", "Reservering", new { klantId = item.klantId }, null)
            </td>
        </tr>
    }

</table>
